a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

.menuLink{
    font-size: 20px;
    color: #0092a1;
    text-transform: uppercase;
}

.nav-link{
    font-size: 18px;
    color:black;
}

.point3{
    width: 22px;
    height: 22px;
}
.dropdown-item-2{
    color: black;
    font-size: x-large;
}
.dropdown-item{
    font-size:115% ;
}

.container{
    margin-top: 85px;
}

.card-title{
    color:white;
    font-size:xx-large;
}
.card-text{
    color: white;
    font-size: large;
}
.card-img-overlay{
    margin-top: 60px;
}
.text{
    font-size: xx-large;
    color: white;
}
.row{
    margin-top: 25px;
}
.card-text-black{
    color: black;
    font-size: 25px;
}