.nav-pills a{
    color: black;
}
.nav-pills{
    align-items: center;
}

.banner{
    text-align: center;
}
.banner p{
    color: #0046bd;
    font-size: 50px;
    font-weight: 900;
}
.h1P{
    color: #0046bd;
    font-weight: 900;
    margin-bottom: 50px;
}
.banner li{
    list-style-type: none;
}
.ALink{
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-weight: 700;
}