<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>MBANK</title>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">
  </head>
  <body>

    <!-- NAVIGATION -->
     <div class="container-fluid">
      <div class="row">
        <div class="col-4" style="display: flex;">
          <a href="index.html">
            <img src="logo_mbank.svg" alt="">
          </a>
          <p style="padding-left: 15px;">ОАО «МБАНК»</p>
        </div>                                                            
        <div class="col-1">
          <a href="" class="menuLink">
            <p>Физ. <br> лицам</p>
          </a>
        </div>
        <div class="col-1">
          <a href="" class="menuLink">
            <p>Юр. <br> лицам</p>
          </a>
        </div>
        <div class="col-2">
          <a href="" class="menuLink">
            <p>Исламские <br> финансы</p>
          </a>
        </div>
        <div class="col-2">
          <a href="" class="menuLink">
            <p>Офисы и <br> банкоматы</p>
          </a>
        </div>
        <div class="col-2">
          <a href="" class="menuLink">
            <p>Русский</p>
          </a>
        </div>
      </div>
     </div>
     <!-- NAVIGATION -->

     <!-- Menu -->
     <div class="container-fluid">
      <div class="row">
        <div class="col-1">
          <li class="nav-item dropdown-item">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Кредиты
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item-2" href="#">Кредиты</a></li>
              <li><a class="dropdown-item" href="#">Онлайн кредит</a></li>
              <li><a class="dropdown-item" href="#">Бизнес кредиты</a></li>
              <li><a class="dropdown-item" href="#">Документарные операции</a></li>
              <li><a class="dropdown-item" href="#">Агрокредиты</a></li>
              <li><a class="dropdown-item" href="#">Зеленые кредиты</a></li>
              <li><a class="dropdown-item" href="#">Ипотека "Мой дом"</a></li>
              <li><a class="dropdown-item" href="#">Автокредит</a></li>
              <li><a class="dropdown-item" href="#">Факторинг</a></li>
              <li><a class="dropdown-item" href="#">Заявление на частичное погашение<br>кредита или овердрафта</a></li>
            </ul>
          </li>
        </div>
        <div class="col-1">
         
          <li class="nav-item dropdown-item">
            <a class="nav-link" href="#" role="button" aria-expanded="false">
              Рассрочка
            </a>
            <ul class="dropdown-menu">
            </ul>
          </li>
        </div>
        <div class="col-1">
          <li class="nav-item dropdown-item">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Депозиты
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item-2" href="#">Депозиты</a></li>
              <li><a class="dropdown-item" href="#">Акция на срочный депозит "ЖАЗ"</a></li>
              <li><a class="dropdown-item" href="#">Срочный</a></li>
              <li><a class="dropdown-item" href="#">Срочный-онлайн</a></li>
            </ul>
          </li>
        </div>
        <div class="col-1">
          <li class="nav-item dropdown-item">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Карты
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item-2" href="#">Карты</a></li>
              <li><a class="dropdown-item" href="#">Закажи карту онлайн</a></li>
              <li><a class="dropdown-item" href="#">Виртуальная карта</a></li>
              <li><a class="dropdown-item" href="#">Управление услугами карты</a></li>
              <li><a class="dropdown-item" href="#">Google Pay - оплата в одно касание</a></li>
              <li><a class="dropdown-item" href="#">Бесконтатная оплата PayWave</a></li>
              <li><a class="dropdown-item" href="#">Безопасная оплата товаров и услуг</a></li>
            </ul>
          </li>
        </div>
        <div class="col-1">
          <li class="nav-item dropdown-item">
            <a class="nav-link" href="#" role="button" aria-expanded="false">
              MBANK Junior
            </a>
            <ul class="dropdown-menu">
            </ul>
          </li>
        </div>
        <div class="col-1">
          <li class="nav-item dropdown-item">
            <a class="nav-link" href="#" role="button" aria-expanded="false">
              MBANK
            </a>
            <ul class="dropdown-menu">
            </ul>
          </li>
        </div>
        <div class="col-1">
          <li class="nav-item dropdown-item">
            <a class="nav-link" href="#" role="button" aria-expanded="false">
              MBusiness
            </a>
            <ul class="dropdown-menu">
            </ul>
          </li>

        </div>
        <div class="col-1">
          <li class="nav-item dropdown-item">
            <a class="nav-link" href="#" role="button" aria-expanded="false">
              MKassa
            </a>
            <ul class="dropdown-menu">
            </ul>
          </li>
        </div>
        
        <div class="col-1">
          <li class="nav-item dropdown-item">
              <a href="index.html" class="nav-link dropdown-item-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="троиточие.jpg" class="point3"  alt="">
              </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Market</a></li>
              <li><a class="dropdown-item" href="#">MBonus</a></li>
              <li><a class="dropdown-item" href="#">MTravel</a></li>
              <li><a class="dropdown-item" href="#">MInvest</a></li>
              <li><a class="dropdown-item" href="#">Системы денежных переводов</a></li>
              <li><a class="dropdown-item" href="#">Переводы Thunes в 160 стран </a></li>
              <li><a class="dropdown-item" href="#">Переводы</a></li>
              <li><a class="dropdown-item" href="#">Карьера</a></li>
              <li><a class="dropdown-item" href="#">Руководство</a></li>
              <li><a class="dropdown-item" href="#">Финансовая отчетность</a></li>
              <li><a class="dropdown-item" href="#">Реализация имущества</a></li>
              <li><a class="dropdown-item" href="#">Банки-корреспонденты</a></li>
              <li><a class="dropdown-item" href="#">Инструкция по работе с<br>обращениями потребителей</a></li>
              <li><a class="dropdown-item" href="#">Контакты</a></li>
              <li><a class="dropdown-item" href="#">Полотика конфиденциальности<br>MBANK</a></li>
              <li><a class="dropdown-item" href="#">О Банке</a></li>
              <li><a class="dropdown-item" href="#">Тендеры</a></li>
              <li><a class="dropdown-item" href="#">Акции</a></li>
              <li><a class="dropdown-item" href="#">МКасса</a></li>
              <li><a class="dropdown-item" href="#">Открытие счета</a></li>
              <li><a class="dropdown-item" href="#">Золотые слитки</a></li>
              <li><a class="dropdown-item" href="#">Сейфовые ячейки</a></li>
              <li><a class="dropdown-item" href="#">Тарифы</a></li>
              <li><a class="dropdown-item" href="#">Документы</a></li>
            </ul>
          </li>
        </div>
        <div class="col-2">
          <form class="d-flex">
            <input class="form-control me--3" type="search" placeholder="Я ищу" aria-label="Search">
            <img src="search.svg" alt="">
          </form>
        </div>
      </div>
      <!-- Menu -->
      <!-- Carousel -->
      <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          {% for slid in sliders%}
          <div class="carousel-item active">
            <img src="{{slid.img.url }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <div>
                <h1>{{slid.title}}</h1>
                <p>{{slid.little_text}}</p>
                <button type="button" class="btn btn-warning">Начать покупки</button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- Carousel -->

      <!-- Block Card -->
       <div class="container">
        <div class="row">
          {% for serv in service%}
          <div class="col-6 mt-5">
            <div class="card text">
              <img src="{{serv.img.url }}" class="card-img" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title" font-size>{{serv.little}}</h5>
                <p class="card-text">{{serv.little_text}}</p>
                <button type="button" class="btn btn-warning">Получить</button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        
       </div>
      <!-- Block Card -->

      <!-- course valuta and news -->
      <div class="container mt-5">
        <div class="row">
          <!-- col valu te -->
          <div class="col-6">
            <div class="card p-4">
              <div class="row p-3"style="text-align: center;">
                <div class="col-6">
                  <h1>Курсы валют</h1>
                </div>
                <div class="col-6" style="padding-top: 10px; font-size: 18px; text-transform: uppercase;">
                  <a href="">Подробнее</a>
                </div>
                <div class="col-6">
              <a href="" class="btn btn-light">Наличные</a>
                </div>
                <div class="col-6">
              <a href="" class="btn btn-secondary">Безналичные</a>
                </div>
                <div class="col-3">
                  <ul>
                    <p>валюты</p>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>RUB</li>
                    <li>KZT</li>
                  </ul>
                </div>
                <div class="col-3">
                  <ul>
                    <p>Покупка</p>
                    <li>86.0500</li>
                    <li>92.5000</li>
                    <li>0.8600</li>
                    <li>0.1200</li>
                  </ul>
                </div>
                <div class="col-3">
                  <ul>
                    <p>Продажа</p>
                    <li>86.5500</li>
                    <li>93.5000</li>
                    <li>0.8950</li>
                    <li>0.1790</li>
                  </ul>
                </div>
                <div class="col-3">
                  <ul>
                    <p>НБКР</p>
                    <li>84.2000</li>
                    <li>93.6094</li>
                    <li>0.9260</li>
                    <li>0.1763</li>
                  </ul>
                </div>
                <div class="col-6" >
                  <div class="dropdown">
                    <button class="btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: rgb(85, 85, 204); font-size: large; margin-top: 22%;">
                      Информация
                    </button>
                    <ul class="dropdown-menu">
                      <li><button class="dropdown-item" type="button">Курсы валют действительны с момента<br>публикации и могут изменяться в течении<br>дня.<br><br>В случае обращения клиентов Банка курсы<br>валют и комиссия  за обезналичивание могут<br>быть договорными.</button></li>
                    </ul>
                  </div>
                </div>
                <div class="col-6" style="margin-top: 12%;">Курс действует с 20.03.2025</div>
              </div>
            </div>
          </div>
          <!-- col valute -->
          <!-- col news -->
          <div class="col-6">
            <div class="card p-4">
              <div class="row p-3">
                <div class="col-6">
                  <h1>Новости</h1>
                </div>
                <div class="col-6" style="padding-top: 10px; font-size: 18px; text-transform: uppercase;">
                  <a href="" class="btn">Все новости</a>
                </div>
                <a href="">2025-03-19</a>
                <p>Относительно изменения тарифов за выдачу наличных денежных средств юридическим лицам</p>
                <a href="">2025-03-17</a>
                <p>Новый сервис по оплате аренды учебников "Окуу китеби"</p>
                <a href="">2025-03-14</a>
                <p>Относительно внесения изменений в Договор публичной оферты на подключение кредитных продуктов МПлюс/Рассрочка и продуктов по исламским принципам финансирования и типовую форму соглашения по кредитному продукту "МПлюс"</p>
              </div>
            </div>
            
          </div>
          <!-- col news -->
        </div>
      </div>
      <!-- course valuta and news -->

      <div class="container mt-5" style="background-image: url(https://www.mbank.kg/_next/image?url=https%3A%2F%2Fmbank.kg%2Fmedia%2Fbanner%2Fbackgrounds%2Fhere23_1.webp&w=1200&q=75); background-size: cover;">
        <div class="row">
          <div class="col-6 p-5">
            <h1 style="color: white; text-transform: uppercase;">Ближайшие банкоматы<br>и отделения</h1>
            <a href="" class="btn btn-warning" style="padding-left: 50px; padding-right: 50px;">Перейти</a>
          </div>
          <div class="col-6">
            <img src="https://www.mbank.kg/_next/image?url=https%3A%2F%2Fmbank.kg%2Fmedia%2Fatm%2F188208176209130208184208186208184-01.webp&w=1200&q=75" width="400px" alt="">
          </div>
        </div>
      </div>

    <!-- footer -->
     <div class="container">
      <div class="row">
        <h5>Поиск по сайту</h5>
        <div class="col-6">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Я ищу" aria-label="Search">
            <button class="btn btn-warning" type="submit">Найти</button>
          </form>
        </div>
        <div class="col-6"></div>
        <div class="col-3 p-5">
          <ul>
            <strong style="font-size: large; text-transform: ;">Частным клиентам</strong>
            <li>Платежные карты</li>
            <li>Депозиты</li>
            <li>Кредиты</li>
            <li>Рассчетно-кассовое обслуживание</li>
            <li>Золотые мерные слитки</li>
            <li>Индивидуальные сейфы</li>
            <li>Денежные переводы</li>
          </ul>
        </div>
        <div class="col-3 p-5">
          <ul>
            <strong style="font-size: large;">Юридическим лицам</strong>
            <li>Депозиты</li>
            <li>Кредиты</li>
            <li>Зарплатные проекты</li>
            <li>Банковская гарантия</li>
            <li>MКасса</li>
            <li>Индивидуальные сейфы</li>
            <li>Аккредитив</li>
          </ul>
        </div>
        <div class="col-3 p-5">
          <ul>
            <strong style="font-size: large;">О банке</strong>
            <li>Руководство</li>
            <li>Финансовая отчетность</li>
            <li>Реализация имущества</li>
            <li>Отделения</li>
            <li>Банкоматы</li>
            <li>Контакты</li>
            <li>Карьера</li>
          </ul>
        </div>
        <div class="col-3 p-5" >
          <ul>
            <strong style="font-size: large;">Информация</strong>
            <li>Документы</li>
            <li>Тарифы частных лиц</li>
            <li>Инструкция по работе с обращениями<br>потребителей</li>
            <li>Бренд MBANK</li>
            <li>MКасса</li>
          </ul>
        </div>
        <div class="row" style="background-image: url(https://mbank.kg/media/main_page/1112%D1%85171-01_S66gQfx.png); background-size: cover;">
          <div class="col-6">
            <img src="https://www.mbank.kg/_next/image?url=https%3A%2F%2Fmbank.kg%2Fmedia%2Fmain_page%2FFrame_851212505_1_q5fmgYX.png&w=762&q=75" alt="">
          </div>
          <div class="col-6">
            <img src="https://www.mbank.kg/_next/image?url=https%3A%2F%2Fmbank.kg%2Fmedia%2Fmain_page%2F196%25D1%258548-02_e3WroCu.png&w=762&q=75" width="200px" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="row">
            <div class="col-6">
              <h1>3333</h1>
            </div>
            <div class="col-6">
              <p>Звонок бесплатный</p>
              <p>Megacom, Beeline, O!</p>
            </div>
            <a href="index.html">
              <img src="free-icon-instagram-1384073.png" width="20px" alt="">
              <img src="free-icon-facebook-4922978.png" width="20px" alt="">
              <img src="free-icon-odnoklassniki-2111394.png" width="20px" alt="">
              <img src="free-icon-whatsapp-1384079.png" width="20px" alt="">
            </a>
          </div>
        </div>
        <div class="col-4">
          <p>Телефон<br>+996 (312) 61 33 33</p>
          <p>Онлайн чат в приложении<br> MBANK</p>
        </div>
        <div class="col-4">
          <p>Центральный офис<br>ул. Тоголок Молдо, 54а Бишкек, Кыргызстан,<br>720033</p>
          <p>Коммерческое предложение<br>Marketing@mbank.kg</p>
          <p>Отзывы и пожелания<br>Otzyv@mbank.kg</p>
        </div>
        <p>ОАО «МБАНК». © 2006-2025, Лицензия №014 НБ КР</p>
      </div>
     </div>
       
    <!-- footer -->
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
  </body>
</html>