
{%  extends "base.html" %}
{%  block content %}
      <!-- Carousel -->
      <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          {% for slid in sliders%}
          <div class="carousel-item active">
            <img src="{{slid.img.url }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <div>
                <h1>{{slid.title}}</h1>
                <p>{{slid.little_text}}</p>
                <button type="button" class="btn btn-warning">Начать покупки</button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- Carousel -->

      <!-- Block Card -->
       <div class="container">
        <div class="row">
          {% for serv in service%}
          <div class="col-6 mt-5">
            <div class="card text">
              <img src="{{serv.img.url }}" class="card-img" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title" font-size>{{serv.little}}</h5>
                <p class="card-text">{{serv.little_text}}</p>
                <button type="button" class="btn btn-warning">Получить</button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        
       </div>
      <!-- Block Card -->

      <!-- course valuta and news -->
      <div class="container mt-5">
        <div class="row">
          <!-- col valu te -->
          <div class="col-6">
            <div class="card p-4">
              <div class="row p-3"style="text-align: center;">
                <div class="col-6">
                  <h1>Курсы валют</h1>
                </div>
                <div class="col-6" style="padding-top: 10px; font-size: 18px; text-transform: uppercase;">
                  <a href="">Подробнее</a>
                </div>
                <div class="col-6">
              <a href="" class="btn btn-light">Наличные</a>
                </div>
                <div class="col-6">
              <a href="" class="btn btn-secondary">Безналичные</a>
                </div>
                <div class="col-3">
                  <ul>
                    <p>валюты</p>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>RUB</li>
                    <li>KZT</li>
                  </ul>
                </div>
                <div class="col-3">
                  <ul>
                    <p>Покупка</p>
                    <li>86.0500</li>
                    <li>92.5000</li>
                    <li>0.8600</li>
                    <li>0.1200</li>
                  </ul>
                </div>
                <div class="col-3">
                  <ul>
                    <p>Продажа</p>
                    <li>86.5500</li>
                    <li>93.5000</li>
                    <li>0.8950</li>
                    <li>0.1790</li>
                  </ul>
                </div>
                <div class="col-3">
                  <ul>
                    <p>НБКР</p>
                    <li>84.2000</li>
                    <li>93.6094</li>
                    <li>0.9260</li>
                    <li>0.1763</li>
                  </ul>
                </div>
                <div class="col-6" >
                  <div class="dropdown">
                    <button class="btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: rgb(85, 85, 204); font-size: large; margin-top: 22%;">
                      Информация
                    </button>
                    <ul class="dropdown-menu">
                      <li><button class="dropdown-item" type="button">Курсы валют действительны с момента<br>публикации и могут изменяться в течении<br>дня.<br><br>В случае обращения клиентов Банка курсы<br>валют и комиссия  за обезналичивание могут<br>быть договорными.</button></li>
                    </ul>
                  </div>
                </div>
                <div class="col-6" style="margin-top: 12%;">Курс действует с 20.03.2025</div>
              </div>
            </div>
          </div>
          <!-- col valute -->
          <!-- col news -->
          <div class="col-6">
            <div class="card p-4">
              <div class="row p-3">
                <div class="col-6">
                  <h1>Новости</h1>
                </div>
                <div class="col-6" style="padding-top: 10px; font-size: 18px; text-transform: uppercase;">
                  <a href="" class="btn">Все новости</a>
                </div>
                <a href="">2025-03-19</a>
                <p>Относительно изменения тарифов за выдачу наличных денежных средств юридическим лицам</p>
                <a href="">2025-03-17</a>
                <p>Новый сервис по оплате аренды учебников "Окуу китеби"</p>
                <a href="">2025-03-14</a>
                <p>Относительно внесения изменений в Договор публичной оферты на подключение кредитных продуктов МПлюс/Рассрочка и продуктов по исламским принципам финансирования и типовую форму соглашения по кредитному продукту "МПлюс"</p>
              </div>
            </div>
            
          </div>
          <!-- col news -->
        </div>
      </div>
      <!-- course valuta and news -->

      <div class="container mt-5" style="background-image: url(https://www.mbank.kg/_next/image?url=https%3A%2F%2Fmbank.kg%2Fmedia%2Fbanner%2Fbackgrounds%2Fhere23_1.webp&w=1200&q=75); background-size: cover;">
        <div class="row">
          <div class="col-6 p-5">
            <h1 style="color: white; text-transform: uppercase;">Ближайшие банкоматы<br>и отделения</h1>
            <a href="" class="btn btn-warning" style="padding-left: 50px; padding-right: 50px;">Перейти</a>
          </div>
          <div class="col-6">
            <img src="https://www.mbank.kg/_next/image?url=https%3A%2F%2Fmbank.kg%2Fmedia%2Fatm%2F188208176209130208184208186208184-01.webp&w=1200&q=75" width="400px" alt="">
          </div>
        </div>
      </div>
{%  endblock content %}
