<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>MKassa</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="mkassa.css">
  </head>
  <body>
    <!-- header -->
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-2 mb-4">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4"><img src="logo_mbank.svg" alt=""></span>
            <span class="fs-4" style="padding-left: 50px;"><img src="mkassa.jpg" width="150px" alt=""></span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#service" class="nav-link">Преимущества</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Связаться с поддержкой</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Частые воппросы</a></li>
            <li class="nav-item"><a href="#" class="nav-link btn" style="background-color: #0092a1; color: white;">Войти</a></li>
          </ul>
        </header>
      </div>
    <!-- header -->

    <!-- block banner -->
    <div class="container banner">
      <div class="row">
        <p class="h1P">Акция! Принимайте платежи<br>без комиссии с MKassa</p>
        <div class="col-7">
          <img src="MKassa__1.png" width="500px" alt="">
        </div>
        <div class="col-5">
          <p>Бесплатно</p>
          <ul>
            <li><a href="#" class="ALink">POS-терминал</a></li>
            <li><a href="#" class="ALink">Режим ККМ</a></li>
            <li><a href="#" class="ALink">Приложение</li>
            <li><a href="#" class="ALink">Платежи по QR и картам</a></li>
          </ul>
          <a href="" style="padding: 20px;" class="btn btn-warning">Отправить заявку</a>
        </div> 
      </div>
    </div>
    <!-- block banner -->
    <!-- block service -->
    <div class="container banner" id="service">
      <div class="row">
        <p style="font-size: 40px; color: #0046bd;" >Принимайте платежи как удобно:</p>
        <div class="col-4">
          <div class="card">
            <img src="https://mbank.kg/media/mkassa/%D0%9C%D0%9A%D0%B0%D1%81%D1%81%D0%B0-_2_.webp" width="300px" alt="">
          </div>
          <h3>1. POS-терминал</h3>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="https://mbank.kg/media/mkassa/Frame_2087324765-2.webp" width="300px" alt="">
        </div>
        <h3>2. Мобильное приложение</h3>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="https://mbank.kg/media/mkassa/Frame_2087324765-3.webp" width="300px" alt="">
          </div>
          <h3>3. QR код (наклейка)</h3>
        </div>
        </div>
      </div>
    <!-- block service -->

    <!-- block video -->
    <div class="container" id="service">
      <div class="row">
        <p style="font-size: 35px; color: #0046bd;" >Видео инструкция</p>
        <div class="col-4">
          <div class="card">
            <img src="https://mbank.kg/media/mkassa/%D0%9C%D0%9A%D0%B0%D1%81%D1%81%D0%B0-_2_.webp" width="300px" alt="">
          </div>
          <h3>1. POS-терминал</h3>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="https://mbank.kg/media/mkassa/Frame_2087324765-2.webp" width="300px" alt="">
        </div>
        <h3>2. Мобильное приложение</h3>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="https://mbank.kg/media/mkassa/Frame_2087324765-3.webp" width="300px" alt="">
          </div>
          <h3>3. QR код (наклейка)</h3>
        </div>
        </div>
      </div>
    <!-- block video -->

<script src="bootstrap.bundle.min.js"></script>
  </body>
</html>